.page {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(var(--lightPink), var(--lightPurple));
	padding: 0.5rem;
}

.title {
	font-style: italic;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}