.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	min-height: 2rem;
	padding: 0.5rem 0.75rem;
	background: linear-gradient(0.25turn, var(--lightPink), #ebf8e1, var(--lightPurple));
	border-bottom: 0.1rem solid white;
}

.group {
	margin: 0;
	padding: 0;
}

.logo {
	width: 2rem;
	margin: 0;
}

.link {
	display: flex;
}